<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="text"
            id="age"
            formControlName="age"
            class="form-control">
        </div>
        <div formGroupName="passwordData">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input
              type="password"
              id="confirm"
              formControlName="confirm"
              class="form-control">
          </div>
        </div>
        <button class="btn btn-primary"
                type="submit" [disabled]="!loginForm.valid">Submit</button>
        <button class="btn btn-danger" (click)="onReset()">Reset</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div>
      <ul class="list-group">
        <!-- Username validation -->
        <div
          *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched"
          class="alert alert-danger"
          role="alert">
          <div
            *ngIf="loginForm.get('username').errors['pattern']">
            Username should only contain characters!
          </div>
          <div
            *ngIf="loginForm.get('username').errors['required']">
            Username has been left blank!</div>
          <div
            *ngIf="loginForm.get('username').errors['minlength'] || loginForm.get('username').errors['maxlength']">
            Username should be between 5 and 15 characters long!
          </div>
        </div>
      <!-- Age Validation -->
        <div
          *ngIf="!loginForm.get('age').valid && loginForm.get('age').touched"
          class="alert alert-danger"
          role="alert">
          <div
            *ngIf="loginForm.get('age').errors['required']">
            Age has been left blank!
          </div>
          <div
            *ngIf="loginForm.get('age').errors['pattern']">
            Age should only contain positive digits!
          </div>
          <div
            *ngIf="loginForm.get('age').errors['max'] || loginForm.get('age').errors['min']">
            Age should be between 18 and 110
          </div>
        </div>
      <!-- Password Validation -->
        <div *ngIf="!loginForm.get('passwordData.password').valid && loginForm.get('passwordData.password').touched"
        class="alert alert-danger"
        role="alert">
         <div
          *ngIf="loginForm.get('passwordData.password').errors['required']">
          Password is required!
         </div>
        </div>


        <!-- Takes care of confirm validation -> required and mismatch -->
        <div
          *ngIf="!loginForm.get('passwordData.confirm').valid && loginForm.get('passwordData.confirm').touched"
          class="alert alert-danger"
          role="alert">
          <div
            *ngIf="loginForm.get('passwordData.confirm').errors['required']">
            Confirm password is required!
          </div>
        </div>

        <div
          *ngIf="loginForm.hasError('mismatch','passwordData')"
          class="alert alert-danger">
          Password does not match!
        </div>


        <div class="alert alert-success" *ngIf="loginForm.valid">
          <strong>Success!</strong>
        </div>

      </ul>
    </div>
    </div>
  </div>
</div>

